:root {
    --green: #116649;
    --secondary-text: #F7F6DA;
    --team-flag-horizontal-rule: 27.5px;
    --team-star-horizontal-rule: calc(150px + var(--team-flag-horizontal-rule) * 2);
    --team-name-horizontal-rule: calc(120px + var(--team-flag-horizontal-rule) * 2);
    --score-bar-horizontal-rule: 50%;
    --score-bar-height: 25px;
    --score-bar-height-half: calc(var(--score-bar-height) / 2);

    --red: #db4c4c;
    --blue: #5b6ac6;

    --lightPink: #F3BBFF;
    --darkerPink: #B68CBF;
}

.background-video {
    position: absolute;
    left: 0;
    top: 0;
}

/* Main Page */
.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    font-family: "Poppins";
    font-weight: 700;
}

/* Team Flag */
.team-flag { position: absolute;}
.left-flag { left: var(--team-flag-horizontal-rule); }
.right-flag { right: var(--team-flag-horizontal-rule); }

/* Team Name */
.team-name {
    position: absolute;
    top: 10px;
    font-size: 3.5rem;
    color: var(--lightPink);
    font-family: "Dela Gothic One";
    transform: scaleX(0.85);
}
.left-team-name { left: var(--team-name-horizontal-rule); }
.right-team-name { right: var(--team-name-horizontal-rule); }

/* Team Stars */
.team-star-container {
    position: absolute;
    top: 83px;  
    display: flex;
    gap: 10px;
}
.team-star-container > * { width: 45px; }
.left-team-star-container { left: var(--team-star-horizontal-rule); }
.right-team-star-container { 
    right: var(--team-star-horizontal-rule);
    flex-direction: row-reverse;
}

/* Main Logo */
.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 150px;
}


/* Score Section */
#score-section {
    opacity: 1;
    transition: 500ms ease;
    font-variant-numeric: tabular-nums lining-nums;
}

/* Scorebar */
.score-bar {
    position: absolute;
    top: 870px;
    height: 25px;
    background-color: var(--lightPink);
}
.left-score-bar {
    right: var(--score-bar-horizontal-rule);
    border-radius: var(--score-bar-height-half) 0 0 var(--score-bar-height-half);
}
.right-score-bar { 
    left: var(--score-bar-horizontal-rule);
    width: 200px;
    border-radius: 0 var(--score-bar-height-half) var(--score-bar-height-half) 0;
}

/* Play Score */
.play-score {
    position: absolute;
    top: 900px;
    font-weight: 600px;
    color: var(--lightPink);
    font-size: 2em;
}
.left-score { right: 970px; }
.right-score { left: 970px; }
.leading-score {
    top: 899px;
    font-weight: 800;
    font-size: 2.5em;
}

/* Play Score Difference */
.play-score-difference {
    position: absolute;
    top: 940px;
    font-weight: 500;
    color: var(--lightPink);
    font-size: 1.25em;
}
.left-score-difference { right: 970px; }
.right-score-difference { left: 970px; }

/* Chat Display */
.chat-display {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: 190px;
    border-radius: 10px;
    background-color: #F3BBFF80;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: 500ms ease;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.chat-display::-webkit-scrollbar { display: none; }

/* Message Container */
.message-container {
    padding: 1px 2px;
    display: flex;
    color: var(--secondary-text);
    font-size: 1.25em;
    width: inherit;
}
.message-time {
    width: 15%;
    text-align: center;
}
.message-wrapper {
    width: 92%;
    display: flex;
}
.message-name {
    margin-right: 10px;
    white-space: nowrap;
}
.unknown { color: rgb(255, 143, 79); }
.bot { color: rgb(255, 243, 79); }
.left { color: rgb(255, 109, 109) }
.right { color: rgb(79, 234, 255); }

/* Now Playing Section */
#now-playing-section {
    position: absolute;
    bottom: 10px;
    right: 50px;
    width: 1820px;
    height: 80px;
    border-radius: 50px;
    background-color: #B68CBF60;
    border: 5px solid var(--darkerPink);
    overflow: hidden;
    transition: 500ms ease-in-out;
}

/* Now Playing Section Logo */
.now-playing-section-logo {
    position: absolute;
    top: -3px;
    right: 0px;
    height: 88px;
}

/* Now Playing Section Stats */
.now-playing-section-stats {
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
    width: 1365px;
    height: inherit;
    background-color: #B68CBFA0;
    border-radius: inherit;
    color: var(--secondary-text);
    line-height: 30px;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    transition: 500ms ease-in-out;
}
.now-playing-section-stats > * { margin: 10px 40px 0 40px; }
.now-playing-section-stats-right { text-align: right; }
.now-playing-stats-number { font-weight: 500; }

/* Now Playing Section Metadata */
.now-playing-section-metadata {
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    height: inherit;
    background-color: var(--darkerPink);
    border-radius: inherit;
    border: 5px solid var(--darkerPink);
    background-image: url("https://assets.ppy.sh/beatmaps/2257992/covers/cover.jpg");
    background-size: cover;
    background-position: center;
    transition: 500ms ease-in-out;
}
/* Overlay */
.now-playing-section-metadata-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: inherit;
}
/* Title */
.now-playing-section-title {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    text-align: center;
    font-size: 1.5em;
}
/* Mapper Difficulty */
.now-playing-section-mapper-difficulty {
    position: absolute;
    top: 35px;
    color: white;
    font-weight: 400;
    max-width: calc(45% - 25px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.now-playing-section-mapper { right: calc(50% + 25px); }
.now-playing-section-difficulty { left: calc(50% + 25px); }
.now-playing-section-mapper-difficulty-name {
    font-size: 1.5em;
    font-weight: 700;
}