:root {
    --country-banner-x: 502px;
    --country-name-x: 488px;
    --country-star-container-x: 500px;
    --country-flag-x: 393px;

    --lightPink: #F3BBFF;
}

/* Whole Page */
.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    background-image: url("static/background.png");
}

/* Country Flags */
.country-flag {
    position: absolute;
    top: 38px;
    width: 97px;
    height: 66px;
    background: center / cover;
    background-image: url(https://osuflags.omkserver.nl/AU-300.png);
    border-radius: 10px;
}
.red-country-flag { left: var(--country-flag-x); }
.blue-country-flag { right: var(--country-flag-x); }

/* Country Banner */
.country-banner {
    box-shadow: 0px 4px 3.36px 0.64px rgba(0, 0, 0, 0.41);
    position: absolute;
    top: 40px;
    width: 83px;
    height: 10px;
    border-radius: 5px;
}
.red-country-banner {
    background-color: rgb(144, 0, 255);
    left: var(--country-banner-x);
}
.blue-country-banner {
    background-color: rgb(0, 36, 255);
    right: var(--country-banner-x)
}

/* Country Name */
.country-name {
    font-size: 26px;
    font-family: "Dela Gothic One";
    color: var(--lightPink);
    position: absolute;
    top: 50px;
    transform: scaleX(0.85);
}
.red-country-name { left: var(--country-name-x); }
.blue-country-name { right: var(--country-name-x); }

/* Country Stars */
.country-star-container {
    position: absolute;
    top: 85px;
}
.country-star-container > * { width: 18px; }
.red-country-star-container { left: var(--country-star-container-x); }
.blue-country-star-container { right: var(--country-star-container-x); }

/* Current Score */
.current-score-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    font-size: 25px;
    font-family: "Dela Gothic One";
    color: white;
    display: flex;
}
.current-score {
    margin: 0 30px;
    transform: scaleY(2);
}