:root {
    /* Country Variables */
    --country-banner-x: 503px;
    --country-name-x: 503px;
    --country-star-container-x: 503px;
    --country-flag-x: 393px;

    /* Mappool Tag Variables */
    --top-row-mappool-tag-top: 196px;
    --mappool-tag-gap: 182px;
    --second-row-mappool-tag-top: calc(var(--top-row-mappool-tag-top) + var(--mappool-tag-gap));
    --third-row-mappool-tag-top: calc(var(--top-row-mappool-tag-top) + var(--mappool-tag-gap) * 2);
    --fourth-row-mappool-tag-top: calc(var(--top-row-mappool-tag-top) + var(--mappool-tag-gap) * 3);
    --nm-mappool-tag-5-maps-left: 166.5px;

    --lightPink: #F3BBFF;
}

/*Video */
video {
    position: absolute;
    top: 0;
    left: 0;
}

/* Whole Page */
.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
}

/* Country Flags */
.country-flag {
    position: absolute;
    top: 38px;
    width: 97px;
    height: 66px;
    background: center / cover;
    background-image: url(https://osuflags.omkserver.nl/AU-300.png);
    border-radius: 10px;
}
.red-country-flag { left: var(--country-flag-x); }
.blue-country-flag { right: var(--country-flag-x); }

/* Country Banner */
.country-banner {
    box-shadow: 0px 4px 3.36px 0.64px rgba(0, 0, 0, 0.41);
    position: absolute;
    top: 40px;
    width: 83px;
    height: 10px;
    border-radius: 5px;
}
.red-country-banner {
    background-color: lightpink;
    left: var(--country-banner-x);
}
.blue-country-banner {
    background-color: lightblue;
    right: var(--country-banner-x)
}

/* Country Name */
.country-name {
    font-size: 26px;
    font-family: "Dela Gothic One";
    color: var(--lightPink);
    position: absolute;
    top: 50px;
    transform: scaleX(0.85);
}
.red-country-name {
    left: var(--country-name-x);
    transform-origin: top left;
}
.blue-country-name {
    right: var(--country-name-x);
    transform-origin: top right;
}

/* Country Stars */
.country-star-container {
    position: absolute;
    top: 85px;
}
.country-star-container > * { width: 18px; }
.red-country-star-container { left: var(--country-star-container-x); }
.blue-country-star-container {
    right: var(--country-star-container-x);
    flex-direction: row-reverse;
}

/* Current Score */
.current-score-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    font-size: 25px;
    font-family: "Dela Gothic One";
    color: white;
    display: flex;
}
.current-score {
    margin: 0 30px;
    transform: scaleY(2);
}

/* Mappool Tags */
.mappool-tag {
    box-shadow: 0px 4px 3.36px 0.64px rgba(0, 0, 0, 0.66);
    position: absolute;
    width: 16px;
    height: 28px;
    border-radius: 0 5px 0 5px;
}
.mappool-tag-left-0 { left: 0px; }
.mappool-tag-left-463 { left: 463px; }
.nm-mappool-tag {
    background-color: rgb(173, 176, 175);
    top: var(--top-row-mappool-tag-top);
}
.nm-mappool-tag-5-maps { left: var(--nm-mappool-tag-5-maps-left); }
.hd-mappool-tag {
    background-color: rgb(246, 184, 51);
    top: var(--second-row-mappool-tag-top);
}
.hr-mappool-tag {
    background-color: rgb(255, 0, 0);
    left: 952px;
    top: var(--second-row-mappool-tag-top);
}
.dt-mappool-tag {
    background-color: rgb(67, 224, 246);
    top: var(--third-row-mappool-tag-top);
}
.dt-mappool-tag-4-maps { left: 300px; }
.fm-mappool-tag {
    background-color: rgb(240, 91, 179);
    top: var(--fourth-row-mappool-tag-top);
}
.fm-mappool-tag-4-maps { left: 300px; }
.fm-mappool-tag-2-maps { left: 601px; }

/* Mappool Section Title */
.mappool-section-title { position: absolute; }
.mappool-section-title-left-23 { left: 23px; }
.mappool-section-title-left-486 { left: 486px; }
.nm-section-title { top: calc(var(--top-row-mappool-tag-top) + 3px); }
.nm-section-title-5-maps { left: calc(var(--nm-mappool-tag-5-maps-left) + 23px); }
.hd-section-title { top: calc(var(--second-row-mappool-tag-top) + 3px); }
.hr-section-title {
    top: calc(var(--second-row-mappool-tag-top) + 3px);
    left: 975px;
}
.dt-section-title { top: calc(var(--third-row-mappool-tag-top) + 3px); }
.dt-section-title-4-maps { left: 323px; }
.fm-section-title { top: calc(var(--fourth-row-mappool-tag-top) + 3px); }
.fm-section-title-4-maps { left: 323px; }
.fm-section-title-2-maps { left: 624px; }
/* Mappool Section Title Font */
.mappool-section-title-font {
    position: absolute;
    top: 1px;
    left: 50%;
    transform: translateX(-50%);
}

/* Mappool Section */
.mappool-section {
    position: absolute;
    display: flex;
    gap: 64px;
}
.mappool-section-center {
    left: 50%;
    transform: translateX(-50%);
}
.nm-section-top { top: 165px; }
.nm-section-part-1 { left: 79px; }
.nm-section-part-2 { left: 1025px; }
.hd-section {
    left: 79px;
    top: 347px;
}
.hr-section {
    left: 1025px;
    top: 347px;
}
.dt-section-top { top: 528px; }
.dt-section-part-1 { left: 380px; }
.dt-section-part-2 { left: 1025px; }
.fm-section-top { top: 706px; }
.fm-section-4-maps-part-1 { left: 380px; }
.fm-section-4-maps-part-2 { left: 1025px }
.fm-section-2-maps-part-1 { left: 680px; }
.fm-section-2-maps-part-2 { left: 1025px }

/* Map Tile */
.map-tile { width: 237px; }

/* Map Tile Background */
.map-background {
    position: relative;
    width: 100%;
    height: 80px;
    border-radius: 10px 10px 0 0;
    background: center / cover;
    background-color: rgb(60, 88, 226);
}
.map-background-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: rgb(0, 0, 0, 0.5)
}
/* Pick Ban Protect Overlay */
.pick-ban-protect-overlay {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 229px;
    height: 15px;
    border-radius: 7.5px;
    clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
}
.pick-ban-protect-overlay-protect { background-color: gold; }
.pick-ban-protect-overlay-pick { background-color: lightgreen; }
.pick-ban-protect-overlay-ban { background-color: rgb(253, 121, 121);}
.pick-ban-protect-overlay-keyframe {
    animation: pick-ban-protect-overlay 2s forwards;
}
@keyframes pick-ban-protect-overlay {
    0% { clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%); }
    100% { clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%); }
}
.pick-ban-protect-image {
    position: absolute;
    left: 5px;
    height: 15px;
}
.pick-ban-protect-text {
    position: absolute;
    left: 25px;
    font-size: 10px;
    font-family: "Dela Gothic One";
}
.pickBanProtectSVG {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}
/* Map Identifier */
.map-identifier-section {
    position: absolute;
    bottom: 5px;
    right: 7px;
}
.map-identifier-title-font {
    position: absolute;
    top: 3px;
    left: 45%;
    transform: translateX(-50%);
}

/* Map Song Name */
.map-song-metadata {
    font-family: "Dela Gothic One";
    color: white;
    max-width: 237px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.map-song-name {
    margin-top: 4px;
    font-size: 22px;
}
.map-song-artist {
    font-size: 13px;
    margin-top: -11px;
}
.map-song-artist-end { font-size: 21px; }

/* Chat Bubble */
.chat-bubble {
    background-color: rgb(66, 0, 128);
    box-shadow: 0px 5px 3.36px 0.64px rgba(0, 0, 0, 0.15);
    position: absolute;
    left: 64px;
    top: 975px;
    width: 16px;
    height: 39px;
}
/* Chat Text */
.chat-text {
    font-size: 13px;
    font-family: "Dela Gothic One";
    color: white;
    position: absolute;
    left: 88px;
    top: 983px;
    transform: scaleY(2.1);
}
/* Chat Display */
.chat-display {
    border-radius: 20px;
    background-color: rgb(66, 0, 128);
    opacity: 0.949;
    box-shadow: 0px 9px 3.36px 0.64px rgba(0, 0, 0, 0.15);
    position: absolute;
    left: 149px;
    top: 927px;
    width: 610px;
    height: 141px;
}
/* Chat Container */
.chat-container {
    position: absolute;
    --dimension: 10px;
    top: var(--dimension);
    left: var(--dimension);
    width: calc(100% - var(--dimension) * 2);
    height: calc(100% - var(--dimension) * 2);
    color: white;
    font-family: "Dela Gothic One";
    font-size: 14px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; 
    scroll-behavior: smooth;
}
.chat-container::-webkit-scrollbar { display: none;  }
/* Message Container */
.message-container { display: flex; }
.message-name {
    margin-right: 5px;
    white-space: nowrap;
}
/* Message Name Colours */
.left { color: lightpink; }
.right { color: lightblue; }
.unknown { color: yellow; }
.bot { color: lightgreen; }

/* Sidebar */
.sidebar {
    position: absolute;
    top: 0;
    left: 1920px;
    width: 250px;
    height: 1080px;;
    background-color: #1C124C;
    overfloW: hidden;
    color: white;
    font-family: "Dela Gothic One";
}
/* Sidebar Column */
.column {
    position: absolute;
    top: 0;
    width: var(--sidebar-column-width);
}
.column-1 { left: 0; }
.column-2 { left: var(--sidebar-column-width); }
.column-3 { left: calc(var(--sidebar-column-width) * 2); }
/* Sidebar Divider */
.divider {
    position: absolute;
    width: 3px;
    height: var(--screen-height);
    background-color: white;
}
.divider-1 { left: 298.5px; }
.divider-2 { left: 598.5px; }
/* Sidebar Section */
.sidebar-section {
    padding-bottom: 13px;
    border-bottom: 3px solid white;
}
/* Sidebar H1s */
.sidebar-section h1 {
    text-align: center;
    width: 100%;
    font-size: 1.4em;
}
.sidebar-section h2 {
    text-align: center;
    width: 100%;
    font-size: 1.15em;
}
/* Sidebar Text */
.sidebar-text {
    text-align: center;
    font-family: "Dela Gothic One";
    font-size: 1.2em;
}
/* Sidebar Button Container */
.sidebar-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Sidebar Button */
.sidebar-button {
    --height: 30px;
    width: 110px;
    height: var(--height);
    margin: 5px;
    border-radius: calc(var(--height) / 2);
    border: 2px solid white;
    background-color: transparent;
    font-size: 1em;
    font-family: inherit;
    color: inherit;
}
.sidebar-button:active {
    background-color: white;
    color: var(--sidebar-background-colour);
}
/* Full Size Button */
.full-size-button { width: 230px; }
.full-size-button:active { color: var(--sidebar-background-colour); }
/* Apply Changes Button */
.apply-changes-button, #apply-match {
    margin-top: 15px;
    margin-left: 35px;
    height: 45px;
}
/* Toggle Button */
.toggle-on { background-color: green; }
.toggle-off { background-color: maroon; }

/* Ban Pick Management Select*/
.ban-pick-management-select, .match-select {
    width: var(--sidebar-column-width);
    text-align: center;
    color: var(--dark-gray);
    background-color: transparent;
    border: none;
    font-family: "Dela Gothic One";
    font-weight: 700;
    font-size: 1.25em;
}
.ban-pick-management-select::-webkit-scrollbar,
.match-select::-webkit-scrollbar { display: none; }
/* Which Map */
.which-map-select {
    width: var(--sidebar-column-width);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.which-side-button {
    --height: 25px;
    height: var(--height);
    line-height: var(--height);
    font-size: 1.25em;
    font-family: "Dela Gothic One";
    color: var(--secondary-colour);
    background-color: transparent;
    border: none;
}
.which-map-button { width: 70px; }
.which-pick-button {
    width: 125px;
}

/* Tiebreaker Cell */
.tiebreaker-cell {
    position: absolute;
    top: 160px;
    width: 1920px;
    height: 720px;
    background: center / cover;
    background-color: red;
    background-image: url("https://assets.ppy.sh/beatmaps/440925/covers/cover.jpg");
    clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
    color: white;
}
.tiebreaker-cell-keyframe-open {
    animation: tiebreaker-cell-keyframe-open 1.5s forwards;
}
@keyframes tiebreaker-cell-keyframe-open {
    0% { clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%); }
    100% { clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%); }
}
.tiebreaker-cell-keyframe-close {
    animation: tiebreaker-cell-keyframe-close 1.5s forwards;
}
@keyframes tiebreaker-cell-keyframe-close {
    0% { clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%); }
    100% { clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 100% 0%); }
}
/* Tiebreaker Cell Overlay */
.tiebreaker-cell-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
}
/* Tiebreaker Helper Classes */
.tiebreaker-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.tiebreaker-regular-text {
    font-size: 1.5em;
    font-family: "Inter"; 
    font-weight: 500;
}
/* Tiebreaker */
.tiebreaker-text {
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "Cinzel";
    font-weight: 600;
    font-size: 5em;
}
/* Tiebreaker Metadata Top */
.tiebreaker-artist { top: 45px; }
.tiebreaker-title {
    top: 75px;
    font-size: 3.5em;
    font-weight: 600;
}
.tiebreaker-difficulty-mapper { top: 145px; }
.tiebreaker-stats { bottom: 45px; }
.tiebreaker-stats span { font-weight: 900; }