@font-face {
    font-family: "Never Brat";
    src: url("../fonts/Never\ Brat.otf")
}

:root {
    --main-text: #10664A;
    --secondary-text: #F7F6DA;
}

body {
    font-family: "Poppins";
    font-weight: 900;
}

/* Background Video */
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
}

/* Whole Page */
.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}

/* Main Logo */
/* 5 Logo */
.logo-5 {
    position: absolute;
    top: 73px;
    left: 45px;
}
/* Logo WC */
.logo-wc {
    position: absolute;
    top: 76px;
    left: 302px;
    font-size: 196px;
    letter-spacing: -12px;
    color: var(--secondary-text);
    filter: drop-shadow(-7.08px 10.903px 0px rgba(0, 0, 0, 0.25));
}
/* Logo 2025 */
.logo-2025 {
    position: absolute;
    top: 276px;
    left: 406px;
    font-size: 101px;
    letter-spacing: -4px;
    color: var(--main-text);
    filter: drop-shadow(-2.723px 4.193px 0px rgba(0, 0, 0, 0.25));
    transform: scale(1, 1.05);
}

/* Main Text */
.right-text {
    position: absolute;
    transform: translateY(-50%) scale(1, 1.05);
    font-size: 147px;
    letter-spacing: -7px;
    text-align: right;
}
.stream-idle-text {
    top: 556px;
    right: 38px;
    color: var(--main-text);
    line-height: 100px;
}

#teams-text {
    display: none;
}
.team-vs-team-text { color: var(--main-text); }
/* VS text is 38px + a quarter of the width of the right team */
.left-team-text {
    top: 566px;
    right: calc(38px + 196.5px);
    transform: translateY(-75%);

}
/* VS text is 38px + half of the width of the right team */
.vs-text {
    font-family: "Never Brat";
    top: 556px;
    right: calc(38px + 393px);
    color: white;
    text-shadow: 7.08px 10.9px 6px rgba(0, 0, 0, 0.25);
    font-size: 100px;
}
.right-team-text {
    top: 556px;
    right: 38px;
    transform: translateY(-25%);
}

/* Timer Logo */
.timer-logo {
    position: absolute;
    left: 588px;
    top: 780px;
}

/* Timer */
.timer {
    position: absolute;
    bottom: -122px;
    left: -40px;
    font-size: 279px;
    color: var(--main-text);
}

/* Up Next */
.up-next {
    position: absolute;
    top: 786px;
    left: 245px;
    font-size: 97px;
    letter-spacing: -4px;
    color: var(--secondary-text);
    font-style: italic;
}

/* Sponsor */
.sponsor {
    position: absolute;
    bottom: -29px;
    right: 51px;
    font-size: 112px;
    letter-spacing: -4px;
    color: var(--main-text);
}

/* 5wc is powered by */
.powered-by-text {
    position: absolute;
    bottom: 13px;
    right: 38px;
    font-size: 51px;
    letter-spacing: -2px;
    line-height: 188px;
    color: var(--secondary-text);
    font-style: italic;
    font-family: "Poppins";
}

/* Sidebar */
.sidebar {
    position: absolute;
    left: 1920px;
    top: 0;
    width: 750px;
    height: 1080px;
    background-color: var(--main-text);
    color: white;
    font-size: 1.25rem;
}

/* Sidebar Timer */
.sidebar-timer {
    width: 250px;
    height: inherit;
    border-right: 2px solid white;
}
.sidebar-timer > * { margin-left: 20px; }
.sidebar-stream-idle-text {
    position: absolute;
    left: 270px;
    top: 0;
    width: 230px;
    height: inherit;
    border-right: 2px solid white;
}
.sidebar-team-text {
    position: absolute; 
    left: 520px;
    top: 0;
    width: 230px;
    height: inherit;
}

/* Sidebar title */
.sidebar-title {
    padding-top: 10px;
    font-size: 2rem;
}
#team-vs-text {
    margin-right: 20px;
    margin-bottom: 40px;
}
/* Sidebar text */
.sidebar-text { margin-bottom: 10px; }
#sidebar-red-team-text { color: lightpink; }
#sidebar-blue-team-text { color: lightblue; }

/* Sidebar input */
.sidebar-input {
    width: 100px;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background: none;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}
.sidebar-input[type="number"]::-webkit-inner-spin-button, 
.sidebar-input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.sidebar-input-long { 
    width: 210px;
    text-align: left;
}

/* Sidebar Button */
.sidebar-button {
    width: 210px;
    height: 50px;
    border-radius: 10px;
    background: none;
    border: 2px solid white;
    margin-top: 20px;
    color: white;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    cursor: pointer;
}
.sidebar-button:active {
    background-color: white;
    color: var(--main-text);
}
.sidebar-button-large { height: 80px; }

/* Timer Containers */
#normal-timer { height: 470px; }
#utc-timer { height: 250px; }

/* Timer Error Message */
.timer-error-message {
    margin-top: 10px;
    color: lightpink;
    margin-right: 20px;
    display: none;
}

/* Time Input */
.time-input { width: 60px; }

/* Border Light Pink */
.light-green-button {
    border-color: lightgreen;
    color: lightgreen;
}
.light-green-button:active {
    background-color: lightgreen;
    color: var(--main-text);
}
.light-pink-button { 
    border-color: lightpink;
    color: lightpink;
}
.light-pink-button:active {
    background-color: lightpink;
    color: var(--main-text);
}

/* Sidebar custom text */
#sidebar-custom-text { margin-right: 20px; }

/* Sidebar text area */
.sidebar-textarea {
    width: 200px;
    height: 100px;
    background-color: #1d8d68;
    color: white;
    border: 2px solid white;
    font-family: inherit;
    font-size: 1.25rem;
    font-weight: inherit;
    resize: none;
}