:root {
    --team-flag-x: 21px;
    --team-text-x: 1259px;
    --team-name-x: 1240px;
    --team-stats-text-x: 315px;

    --red-text-shadow-8px: 0 0 8px hsla(0, 86%, 57%, 0.85);
    --blue-text-shadow-8px: 0 0 8px hsla(241, 86%, 57%, 0.85);
    --red-text-shadow-10px: 0 0 10px hsla(0, 86%, 57%, 0.85);
    --blue-text-shadow-10px: 0 0 10px hsla(241, 86%, 57%, 0.85);
    --team-name-drop-shadow: -3px 7px 18px rgba(0, 0, 0, 0.35);
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    background-image: url("static/background.png");
    background-size: contain;
}

/* Team Flag */
.team-flag {
    position: absolute;
    top: 25px;
}
.red-team-flag { left: var(--team-flag-x); }
.blue-team-flag { right: var(--team-flag-x); }

/* Team Text */
.team-text {
    font-size: 24px;
    font-family: "Dela Gothic One";
    color: white;
    position: absolute;
    top: 57px;
}
.red-team-text {
    right: var(--team-text-x);
    text-shadow:
        var(--red-text-shadow-8px),
        var(--red-text-shadow-10px);
}
.blue-team-text {
    left: var(--team-text-x);
    text-shadow:
        var(--blue-text-shadow-8px),
        var(--blue-text-shadow-10px);
}

/* Team Name */
.team-name {
    font-size: 66px;
    font-family: "Dela Gothic One";
    color: white;
    position: absolute;
    top: 70px;
}
.red-team-name {
    right: var(--team-name-x);
    text-shadow:
        var(--team-name-drop-shadow),
        var(--red-text-shadow-8px),
        var(--red-text-shadow-10px);
}
.blue-team-name {
    left: var(--team-name-x);
    text-shadow:
        var(--team-name-drop-shadow),
        var(--blue-text-shadow-8px),
        var(--blue-text-shadow-10px);
}

/* Team Stats Text */
.team-stats-text {
    font-size: 43px;
    font-family: "Dela Gothic One";
    color: white;
    line-height: 1.5;
    text-align: right;
    text-shadow: 0px 10px 3.96px rgba(0, 0, 0, 0.39);
    position: absolute;
    top: 184px;
}
.red-team-stats-text { left: var(--team-stats-text-x); }
.blue-team-stats-text { right: var(--team-stats-text-x); }
.team-stats-underline {
    position: absolute;
    top: 241px;
    width: 364px;
    height: 3px;
    background-color: white;
    text-shadow: 0px 10px 3.96px rgba(0, 0, 0, 0.39);
}
.red-team-stats-underline { left: var(--team-stats-text-x); }
.blue-team-stats-underline { right: var(--team-stats-text-x); }